{
    "Energia" : {
        "sender" : "<email of the sender>",
        "subject" : "<subject of the email>",
        "period" : "<period of the email>",
        "folder_id" : "<folder id>",
        "spreadsheet_id" : "<spreadsheet id>",
        "tab_name" : "<tab name>",
        "pdf_password" : "<pdf password>"
    },
    "Gas" : {
        "sender" : "<email of the sender>",
        "subject" : "<subject of the email>",
        "period" : "<period of the email>",
        "folder_id" : "<folder id>",
        "spreadsheet_id" : "<spreadsheet id>",
        "tab_name" : "<tab name>",
        "pdf_password" : "<pdf password>"
    },
    "Aluguel" : {
        "sender" : "<email of the sender>",
        "subject" : "<subject of the email>",
        "period" : "<period of the email>",
        "folder_id" : "<folder id>",
        "spreadsheet_id" : "<spreadsheet id>",
        "tab_name" : "<tab name>"
    },
    "Saude" : {
        "sender" : "<email of the sender>",
        "subject" : "<subject of the email>",
        "period" : "<period of the email>",
        "folder_id" : "<folder id>",
        "spreadsheet_id" : "<spreadsheet id>",
        "tab_name" : "<tab name>",
        "pdf_password" : "<pdf password>"
    },
    "Cartao" : {
        "sender" : "<email of the sender>",
        "subject" : "<subject of the email>",
        "period" : "<period of the email>",
        "folder_id" : "<folder id>",
        "spreadsheet_id" : "<spreadsheet id>",
        "tab_name" : "<tab name>"
    },
    "Condominio" : {
        "sender" : "<email of the sender>",
        "subject" : "<subject of the email>",
        "period" : "<period of the email>",
        "folder_id" : "<folder id>",
        "spreadsheet_id" : "<spreadsheet id>",
        "tab_name" : "<tab name>"
    },
    "Google Cloud" : {
      "CLOUD_RUN_URL" : "<url of the google cloud function to be called>"
    }
  }